/*
========================================================================================
    Nextflow config file for UKB
========================================================================================
*/

params {

  project                       = 'ukb-kiv2-estimates-afr'
  genotypes_association         = 'ukb_combined_final_sorted_with_DS_noGT_afr.vcf.gz'
  genotypes_prediction          = 'ukb22418_c6_b0_v2.{bim,bed,fam}'
  association_build             = 'hg38'
  genotypes_association_format  = 'vcf'
  phenotypes_filename           = 'phenotype_ukb_estimates_ancestry.txt'
  phenotypes_columns            = 'lpa_man'
  phenotypes_binary_trait       = false
  regenie_test                  = 'additive'
  regenie_min_imputation_score  = 0.3
  regenie_min_mac               = 20
  covariates_filename           = 'phenotype_ukb_estimates_ancestry_covariates.txt'
  covariates_columns            = 'cne_kiv2,f.31.0.0,f.21022.0.0,f.22000.0.0,f.22009.0.1,f.22009.0.2,f.22009.0.3,f.22009.0.4,f.22009.0.5,f.22009.0.6,f.22009.0.7,f.22009.0.8,f.22009.0.9,f.22009.0.10,f.22009.0.11,f.22009.0.12,f.22009.0.13,f.22009.0.14,f.22009.0.15,f.22009.0.16,f.22009.0.17,f.22009.0.18,f.22009.0.19,f.22009.0.20,f.22009.0.21,f.22009.0.22,f.22009.0.23,f.22009.0.24,f.22009.0.25,f.22009.0.26,f.22009.0.27,f.22009.0.28,f.22009.0.29,f.22009.0.30'
  phenotypes_apply_rint         = true
 }

process {
    withName: '.*' {
        cpus = 1
        memory = 1.GB
    }
}
